\begin{table}[]
\begin{tabular}{lcll}
\hline
\rowcolor[HTML]{C0C0C0} 
\multicolumn{4}{c}{\cellcolor[HTML]{C0C0C0}CHECK DE PREVENCIÓN}                                                                                                                                                                                                              \\ \hline
\rowcolor[HTML]{EFEFEF} 
\cellcolor[HTML]{EFEFEF}                                                                                      & FACTOR ZONAL                                               & \multicolumn{1}{c}{\cellcolor[HTML]{EFEFEF}SÍ} & \multicolumn{1}{c}{\cellcolor[HTML]{EFEFEF}NO} \\ \cline{2-4} 
\cellcolor[HTML]{EFEFEF}                                                                                      & Frecuentes tormentas eléctricas                            &                                                &                                                \\ \cline{2-4} 
\cellcolor[HTML]{EFEFEF}                                                                                      & Frecuentes incendios de origen antrópico                   &                                                &                                                \\ \cline{2-4} 
\cellcolor[HTML]{EFEFEF}                                                                                      & Exposición Sur - Oeste (radiación solar)                   &                                                &                                                \\ \cline{2-4} 
\rowcolor[HTML]{EFEFEF} 
\cellcolor[HTML]{EFEFEF}                                                                                      & \multicolumn{3}{c}{\cellcolor[HTML]{EFEFEF}FACTOR DE CONSTRUCCIÓN Y ALREDEDORES}                                                                             \\ \cline{2-4} 
\cellcolor[HTML]{EFEFEF}                                                                                      & Chimenea sin malla de cerramiento                          &                                                &                                                \\ \cline{2-4} 
\cellcolor[HTML]{EFEFEF}                                                                                      & Chimenea y ramas colgantes sobre el tejado                 &                                                &                                                \\ \cline{2-4} 
\cellcolor[HTML]{EFEFEF}                                                                                      & Chimenea con limpieza inadecuada o escasa                  &                                                &                                                \\ \cline{2-4} 
\cellcolor[HTML]{EFEFEF}                                                                                      & Incineradores de basura                                    &                                                &                                                \\ \cline{2-4} 
\cellcolor[HTML]{EFEFEF}                                                                                      & Líneas de tensión próximas a la vegetación                 &                                                &                                                \\ \cline{2-4} 
\multirow{-11}{*}{\cellcolor[HTML]{EFEFEF}\begin{tabular}[c]{@{}l@{}}POSIBILIDAD \\ DE INCENDIO\end{tabular}} & Tanques de propano próximos al edificio o vegetación       &                                                &                                                \\ \hline
\rowcolor[HTML]{EFEFEF} 
\cellcolor[HTML]{EFEFEF}                                                                                      & \multicolumn{3}{c}{\cellcolor[HTML]{EFEFEF}SERVICIO DE LUCHA CONTRA INCENDIOS}                                                                               \\ \cline{2-4} 
\cellcolor[HTML]{EFEFEF}                                                                                      & Respuesta posterior a la detección \textgreater 10 minutos &                                                &                                                \\ \cline{2-4} 
\cellcolor[HTML]{EFEFEF}                                                                                      & Acceso inadecuado para los vehículos de emergencia         &                                                &                                                \\ \cline{2-4} 
\cellcolor[HTML]{EFEFEF}                                                                                      & Acceso inadecuado al edificio                              &                                                &                                                \\ \cline{2-4} 
\rowcolor[HTML]{EFEFEF} 
\cellcolor[HTML]{EFEFEF}                                                                                      & \multicolumn{3}{c}{\cellcolor[HTML]{EFEFEF}DISPONIBILIDAD DE AGUA}                                                                                           \\ \cline{2-4} 
\cellcolor[HTML]{EFEFEF}                                                                                      & A nivel municipal no disponible                            &                                                &                                                \\ \cline{2-4} 
\cellcolor[HTML]{EFEFEF}                                                                                      & A nivel de IUF no disponible                               &                                                &                                                \\ \cline{2-4} 
\multirow{-8}{*}{\cellcolor[HTML]{EFEFEF}\begin{tabular}[c]{@{}l@{}}PREPARACIÓN \\ Y RESPUESTA\end{tabular}}  & Equipo de lucha contra el fuego no disponible              &                                                &                                                \\ \hline
\end{tabular}
\end{table}
