% Please add the following required packages to your document preamble:
% \usepackage{multirow}
% \usepackage[table,xcdraw]{xcolor}
% If you use beamer only pass "xcolor=table" option, i.e. \documentclass[xcolor=table]{beamer}
\begin{table}[]
\begin{tabular}{cccccc}
\hline
\rowcolor[HTML]{C0C0C0} 
\multicolumn{6}{l}{\cellcolor[HTML]{C0C0C0}}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         \\ \hline
\rowcolor[HTML]{EFEFEF} 
\cellcolor[HTML]{EFEFEF}                                                                                  & \cellcolor[HTML]{EFEFEF}                                                                                                & \cellcolor[HTML]{EFEFEF}                                                                                  & \multicolumn{2}{c}{\cellcolor[HTML]{EFEFEF}CONIFERA}                                                                                        & \cellcolor[HTML]{EFEFEF}                                                                             \\ \cline{4-5}
\rowcolor[HTML]{EFEFEF} 
\multirow{-2}{*}{\cellcolor[HTML]{EFEFEF}9. TIPO MASA}                                                    & \multirow{-2}{*}{\cellcolor[HTML]{EFEFEF}FRONDOSA}                                                                      & \multirow{-2}{*}{\cellcolor[HTML]{EFEFEF}MIXTA}                                                           & ACLARADA                                                                                         & CERRADA                                  & \multirow{-2}{*}{\cellcolor[HTML]{EFEFEF}\begin{tabular}[c]{@{}c@{}}PUNTOS\\ OBTENIDOS\end{tabular}} \\ \hline
\cellcolor[HTML]{EFEFEF}\begin{tabular}[c]{@{}c@{}}ZONA \\ PRIORITARIA 1\end{tabular}                     & 3                                                                                                                       & 10                                                                                                        & 15                                                                                               & 20                                       & \cellcolor[HTML]{ECF4FF}                                                                             \\ \hline
\cellcolor[HTML]{EFEFEF}\begin{tabular}[c]{@{}c@{}}ZONA \\ PRIORITARIA 2\end{tabular}                     & 1                                                                                                                       & 5                                                                                                         & 15                                                                                               & 15                                       & \cellcolor[HTML]{ECF4FF}                                                                             \\ \hline
\rowcolor[HTML]{C0C0C0} 
\multicolumn{6}{c}{\cellcolor[HTML]{C0C0C0}}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         \\ \hline
\rowcolor[HTML]{EFEFEF} 
\cellcolor[HTML]{EFEFEF}                                                                                  & \cellcolor[HTML]{EFEFEF}                                                                                                & \cellcolor[HTML]{EFEFEF}                                                                                  & \multicolumn{2}{c}{\cellcolor[HTML]{EFEFEF}}                                                                                                & \cellcolor[HTML]{EFEFEF}                                                                             \\
\rowcolor[HTML]{EFEFEF} 
\cellcolor[HTML]{EFEFEF}                                                                                  & \cellcolor[HTML]{EFEFEF}                                                                                                & \cellcolor[HTML]{EFEFEF}                                                                                  & \multicolumn{2}{c}{\multirow{-2}{*}{\cellcolor[HTML]{EFEFEF}\begin{tabular}[c]{@{}c@{}}COMBUSTIBLE\\ FINO O GRUESO \\ MUERTO\end{tabular}}} & \cellcolor[HTML]{EFEFEF}                                                                             \\ \cline{4-5}
\rowcolor[HTML]{EFEFEF} 
\multirow{-3}{*}{\cellcolor[HTML]{EFEFEF}\begin{tabular}[c]{@{}c@{}}10. CONT .\\ HORIZONTAL\end{tabular}} & \multirow{-3}{*}{\cellcolor[HTML]{EFEFEF}\begin{tabular}[c]{@{}c@{}}AUSENCIA\\ DE MATERIAL \\ COMBUSTIBLE\end{tabular}} & \multirow{-3}{*}{\cellcolor[HTML]{EFEFEF}\begin{tabular}[c]{@{}c@{}}HIERBAS \\ O\\ ARBUSTOS\end{tabular}} & DISPERSO                                                                                         & ABUNDANTE                                & \multirow{-3}{*}{\cellcolor[HTML]{EFEFEF}\begin{tabular}[c]{@{}c@{}}PUNTOS\\ OBTENIDOS\end{tabular}} \\ \hline
\cellcolor[HTML]{EFEFEF}\begin{tabular}[c]{@{}c@{}}ZONA \\ PRIORITARIA 1\end{tabular}                     & 0                                                                                                                       & 5                                                                                                         & 15                                                                                               & 20                                       & \cellcolor[HTML]{ECF4FF}                                                                             \\ \hline
\cellcolor[HTML]{EFEFEF}\begin{tabular}[c]{@{}c@{}}ZONA \\ PRIORITARIA 2\end{tabular}                     & 0                                                                                                                       & 3                                                                                                         & 10                                                                                               & 15                                       & \cellcolor[HTML]{ECF4FF}                                                                             \\ \hline
\rowcolor[HTML]{C0C0C0} 
\multicolumn{6}{c}{\cellcolor[HTML]{C0C0C0}}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         \\ \hline
\rowcolor[HTML]{EFEFEF} 
\begin{tabular}[c]{@{}c@{}}11. CONTIN. \\ VERTICAL\end{tabular}                                           & AUSENTE                                                                                                                 & DISPERSA                                                                                                  & \multicolumn{2}{c}{\cellcolor[HTML]{EFEFEF}ABUNDANTE}                                                                                       & \begin{tabular}[c]{@{}c@{}}PUNTOS\\ OBTENIDOS\end{tabular}                                           \\ \hline
\cellcolor[HTML]{EFEFEF}\begin{tabular}[c]{@{}c@{}}ZONA \\ PRIORITARIA 1\end{tabular}                     & 0                                                                                                                       & 5                                                                                                         & \multicolumn{2}{c}{10}                                                                                                                      &                                                                                                      \\ \hline
\cellcolor[HTML]{EFEFEF}\begin{tabular}[c]{@{}c@{}}ZONA \\ PRIORITARIA 2\end{tabular}                     & 0                                                                                                                       & 3                                                                                                         & \multicolumn{2}{c}{5}                                                                                                                       &                                                                                                      \\ \hline
\rowcolor[HTML]{C0C0C0} 
\multicolumn{5}{c}{\cellcolor[HTML]{C0C0C0}PUNTUACIÓN TOTAL DE LOS FACTORES 1-11}                                                                                                                                                                                                                                                                                                                                                                                                                  & \multicolumn{1}{l}{\cellcolor[HTML]{ECF4FF}}                                                         \\ \hline
\begin{tabular}[c]{@{}c@{}}NIVEL \\ DE RIESGO\end{tabular}                                                & \begin{tabular}[c]{@{}c@{}}BAJO \\ MENOR DE 21\end{tabular}                                                             & \begin{tabular}[c]{@{}c@{}}MODERADO \\ ENTRE \\ 21 Y 29\end{tabular}                                      & \begin{tabular}[c]{@{}c@{}}ALTO \\ ENTRE \\ 30 Y 35\end{tabular}                                 & \multicolumn{2}{c}{\begin{tabular}[c]{@{}c@{}}EXTREMO \\ MAYOR DE 35\end{tabular}}                                                              \\ \hline
\rowcolor[HTML]{C0C0C0} 
\multicolumn{5}{c}{\cellcolor[HTML]{C0C0C0}NIVEL DE RIESGO DE LOS EDIFICIOS Y ALREDEDORES}                                                                                                                                                                                                                                                                                                                                                                                                    & \multicolumn{1}{l}{\cellcolor[HTML]{ECF4FF}}                                                         \\ \hline
\end{tabular}
\end{table}
