% Please add the following required packages to your document preamble:
% \usepackage{multirow}
% \usepackage[table,xcdraw]{xcolor}
% If you use beamer only pass "xcolor=table" option, i.e. \documentclass[xcolor=table]{beamer}
\begin{table}[]
\begin{tabular}{
>{\columncolor[HTML]{EFEFEF}}l cc
>{\columncolor[HTML]{EFEFEF}}c l}
\hline
\multicolumn{5}{c}{\cellcolor[HTML]{9B9B9B}\textbf{CHECK DE ANÁLISIS DE RIESGO DE EDIFICIOS}}                                                                                                                                                                                                                                                                                                                                                                                                                      \\ \hline
\multicolumn{1}{c}{\cellcolor[HTML]{C0C0C0}CRITERIOS}                                                                                                 & \multicolumn{2}{c}{\cellcolor[HTML]{C0C0C0}DESCRIPCIÓN}                                                                                    & \cellcolor[HTML]{C0C0C0}\begin{tabular}[c]{@{}c@{}}PUNTUACIÓN POR \\ CARACTERÍSTICA\end{tabular} & \multicolumn{1}{c}{\cellcolor[HTML]{C0C0C0}\begin{tabular}[c]{@{}c@{}}PUNTUACIÓN \\ OBTENIDA\end{tabular}} \\ \hline
\cellcolor[HTML]{EFEFEF}                                                                                                                              & \multicolumn{2}{c}{\begin{tabular}[c]{@{}c@{}}Metal, teja de pizarra, asfalto, \\ tejas de materiales incombustibles\end{tabular}}         & 0                                                                                                & \multicolumn{1}{c}{}                                                                                       \\ \cline{2-4}
\multirow{-2}{*}{\cellcolor[HTML]{EFEFEF}1. Material en tejado}                                                                                       & \multicolumn{2}{c}{Tejas de madera no evaluada}                                                                                            & 2                                                                                                & \multicolumn{1}{c}{\multirow{-2}{*}{}}                                                                     \\ \hline
\cellcolor[HTML]{EFEFEF}                                                                                                                              & \multicolumn{2}{c}{Sin combustible}                                                                                                        & 0                                                                                                &                                                                                                            \\ \cline{2-4}
\cellcolor[HTML]{EFEFEF}                                                                                                                              & \multicolumn{2}{c}{Material combustible disperso}                                                                                          & 2                                                                                                &                                                                                                            \\ \cline{2-4}
\multirow{-3}{*}{\cellcolor[HTML]{EFEFEF}2. Limpieza en tejado}                                                                                       & \multicolumn{2}{c}{\begin{tabular}[c]{@{}c@{}}Canalones atascados, material \\ combustible\end{tabular}}                                   & 3                                                                                                & \multirow{-3}{*}{}                                                                                         \\ \hline
\cellcolor[HTML]{EFEFEF}                                                                                                                              & \multicolumn{2}{c}{Incombusttible, estuco o metal}                                                                                         & 0                                                                                                &                                                                                                            \\ \cline{2-4}
\cellcolor[HTML]{EFEFEF}                                                                                                                              & \multicolumn{2}{c}{Troncos, vigas}                                                                                                         & 1                                                                                                &                                                                                                            \\ \cline{2-4}
\multirow{-3}{*}{\cellcolor[HTML]{EFEFEF}3. Exterior del edificio}                                                                                    & \multicolumn{2}{c}{\begin{tabular}[c]{@{}c@{}}Madera o vinilo en planchas o\\ tejas de madera\end{tabular}}                                & 6                                                                                                & \multirow{-3}{*}{}                                                                                         \\ \hline
\cellcolor[HTML]{EFEFEF}                                                                                                                              & \multicolumn{2}{c}{\begin{tabular}[c]{@{}c@{}}Aleros cerrados, respiradores \\ cerrados con malla metálica\end{tabular}}                   & 0                                                                                                &                                                                                                            \\ \cline{2-4}
\cellcolor[HTML]{EFEFEF}                                                                                                                              & \multicolumn{2}{c}{\begin{tabular}[c]{@{}c@{}}Aleros cerrados, respiradores \\ abiertos sin malla metálica\end{tabular}}                   & 1                                                                                                &                                                                                                            \\ \cline{2-4}
\multirow{-3}{*}{\cellcolor[HTML]{EFEFEF}\begin{tabular}[c]{@{}l@{}}4. Aleros, respiraderos\\ y aberturas\end{tabular}}                               & \multicolumn{2}{c}{\begin{tabular}[c]{@{}c@{}}Aleros abiertos, respiradores\\ abiertos sin malla metálica\end{tabular}}                    & 6                                                                                                & \multirow{-3}{*}{}                                                                                         \\ \hline
\cellcolor[HTML]{EFEFEF}                                                                                                                              & \multicolumn{2}{c}{\begin{tabular}[c]{@{}c@{}}Pórticos y balcones de material\\ resistente al fuego. Cerramiento \\ inferior\end{tabular}} & 0                                                                                                &                                                                                                            \\ \cline{2-4}
\cellcolor[HTML]{EFEFEF}                                                                                                                              & \multicolumn{2}{c}{\begin{tabular}[c]{@{}c@{}}Pórticos y balcones de material\\ combustible. Cerramiento \\ inferior\end{tabular}}         & 2                                                                                                &                                                                                                            \\ \cline{2-4}
\multirow{-3}{*}{\cellcolor[HTML]{EFEFEF}\begin{tabular}[c]{@{}l@{}}5. Balcones, cubiertas \\ y  pórticos\end{tabular}}                               & \multicolumn{2}{c}{\begin{tabular}[c]{@{}c@{}}Pórticos y balcones de material \\ combustible. Parte inferior \\ no cerrada\end{tabular}}   & 6                                                                                                & \multirow{-3}{*}{}                                                                                         \\ \hline
\cellcolor[HTML]{EFEFEF}{\color[HTML]{333333} }                                                                                                       & \multicolumn{2}{c}{Blindado}                                                                                                               & 0                                                                                                &                                                                                                            \\ \cline{2-4}
\cellcolor[HTML]{EFEFEF}{\color[HTML]{333333} }                                                                                                       &                                                                                   & Pequeño                                                & 1                                                                                                &                                                                                                            \\ \cline{3-4}
\cellcolor[HTML]{EFEFEF}{\color[HTML]{333333} }                                                                                                       & \multirow{-2}{*}{Doble cristal}                                                   & Grande                                                 & 2                                                                                                &                                                                                                            \\ \cline{2-4}
\cellcolor[HTML]{EFEFEF}{\color[HTML]{333333} }                                                                                                       &                                                                                   & Pequeño                                                & 2                                                                                                &                                                                                                            \\ \cline{3-4}
\multirow{-5}{*}{\cellcolor[HTML]{EFEFEF}{\color[HTML]{333333} \begin{tabular}[c]{@{}l@{}}6. Ventanales y \\ puertas de cristal\end{tabular}}}        & \multirow{-2}{*}{Cristal simple}                                                  & Grande                                                 & {\color[HTML]{333333} 4}                                                                         & \multirow{-5}{*}{}                                                                                         \\ \hline
\cellcolor[HTML]{EFEFEF}{\color[HTML]{333333} }                                                                                                       & \multicolumn{2}{c}{\begin{tabular}[c]{@{}c@{}}Más de 10m. entre la pila de \\ combustible y la vivienda\end{tabular}}                      & {\color[HTML]{333333} 0}                                                                         &                                                                                                            \\ \cline{2-4}
\cellcolor[HTML]{EFEFEF}{\color[HTML]{333333} }                                                                                                       & \multicolumn{2}{c}{\begin{tabular}[c]{@{}c@{}}Entre 3 y 10m. desde el \\ combustible a la casa\end{tabular}}                               & {\color[HTML]{333333} 3}                                                                         &                                                                                                            \\ \cline{2-4}
\multirow{-3}{*}{\cellcolor[HTML]{EFEFEF}{\color[HTML]{333333} \begin{tabular}[c]{@{}l@{}}7. Situación de leña \\ y otros combustibles\end{tabular}}} & \multicolumn{2}{c}{\begin{tabular}[c]{@{}c@{}}Combustible situado a menos \\ de 3m. del edificio\end{tabular}}                             & {\color[HTML]{333333} 6}                                                                         & \multirow{-3}{*}{}                                                                                         \\ \hline
\cellcolor[HTML]{EFEFEF}{\color[HTML]{333333} }                                                                                                       & \multicolumn{2}{c}{Localización adecuada}                                                                                                  & {\color[HTML]{333333} 0}                                                                         &                                                                                                            \\ \cline{2-4}
\multirow{-2}{*}{\cellcolor[HTML]{EFEFEF}{\color[HTML]{333333} \begin{tabular}[c]{@{}l@{}}8. Posición relativa \\ en la ladera\end{tabular}}}         & \multicolumn{2}{c}{Localización inadecuada}                                                                                                & {\color[HTML]{333333} 6}                                                                         & \multirow{-2}{*}{}                                                                                         \\ \hline
\end{tabular}
\end{table}
