% Please add the following required packages to your document preamble:
% \usepackage{multirow}
% \usepackage[table,xcdraw]{xcolor}
% If you use beamer only pass "xcolor=table" option, i.e. \documentclass[xcolor=table]{beamer}
\begin{table}[H]
\begin{tabular}{ccclll}
\hline
\rowcolor[HTML]{C0C0C0} 
\multicolumn{6}{c}{\cellcolor[HTML]{C0C0C0}PLAN DE MANTENIMIENTO ANUAL}                                                                                                                                                                                                                                                                                                                                                                             \\ \hline
\rowcolor[HTML]{EFEFEF} 
\multicolumn{3}{c}{\cellcolor[HTML]{EFEFEF}DESCRIPCIÓN}                                                                                                                                                                                                                               & \multicolumn{1}{c}{\cellcolor[HTML]{EFEFEF}SÍ} & \multicolumn{1}{c}{\cellcolor[HTML]{EFEFEF}NO} & \multicolumn{1}{c}{\cellcolor[HTML]{EFEFEF}OBSERVACIONES} \\ \hline
\cellcolor[HTML]{EFEFEF}                                                            &                                                                                                 & Señalización correcta                                                                         & \multicolumn{1}{c}{}                           & \multicolumn{1}{c}{}                           & \multicolumn{1}{c}{}                                      \\ \cline{3-6} 
\cellcolor[HTML]{EFEFEF}                                                            & \multirow{-2}{*}{HIDRANTES}                                                                     & Estado adecuado                                                                               & \multicolumn{1}{c}{}                           & \multicolumn{1}{c}{}                           & \multicolumn{1}{c}{}                                      \\ \cline{2-6} 
\cellcolor[HTML]{EFEFEF}                                                            &                                                                                                 & Señalización correcta                                                                         & \multicolumn{1}{c}{}                           & \multicolumn{1}{c}{}                           & \multicolumn{1}{c}{}                                      \\ \cline{3-6} 
\cellcolor[HTML]{EFEFEF}                                                            & \multirow{-2}{*}{\begin{tabular}[c]{@{}c@{}}ARMARIOS CON\\ HIDRANTES\end{tabular}}              & Estado adecuado                                                                               & \multicolumn{1}{c}{}                           & \multicolumn{1}{c}{}                           & \multicolumn{1}{c}{}                                      \\ \cline{2-6} 
\cellcolor[HTML]{EFEFEF}                                                            &                                                                                                 & Señalización correcta                                                                         & \multicolumn{1}{c}{}                           & \multicolumn{1}{c}{}                           & \multicolumn{1}{c}{}                                      \\ \cline{3-6} 
\cellcolor[HTML]{EFEFEF}                                                            &                                                                                                 & Balsas llenas                                                                                 & \multicolumn{1}{c}{}                           & \multicolumn{1}{c}{}                           & \multicolumn{1}{c}{}                                      \\ \cline{3-6} 
\cellcolor[HTML]{EFEFEF}                                                            &                                                                                                 & Depósitos llenos                                                                              & \multicolumn{1}{c}{}                           & \multicolumn{1}{c}{}                           & \multicolumn{1}{c}{}                                      \\ \cline{3-6} 
\cellcolor[HTML]{EFEFEF}                                                            &                                                                                                 & Fácil acceso                                                                                  & \multicolumn{1}{c}{}                           & \multicolumn{1}{c}{}                           & \multicolumn{1}{c}{}                                      \\ \cline{3-6} 
\cellcolor[HTML]{EFEFEF}                                                            & \multirow{-5}{*}{\begin{tabular}[c]{@{}c@{}}DEPÓSITOS DE \\ AGUA\end{tabular}}                  & Estado adecuado                                                                               & \multicolumn{1}{c}{}                           & \multicolumn{1}{c}{}                           & \multicolumn{1}{c}{}                                      \\ \cline{2-6} 
\cellcolor[HTML]{EFEFEF}                                                            &                                                                                                 & Señalizadas                                                                                   & \multicolumn{1}{c}{}                           & \multicolumn{1}{c}{}                           & \multicolumn{1}{c}{}                                      \\ \cline{3-6} 
\cellcolor[HTML]{EFEFEF}                                                            &                                                                                                 & \begin{tabular}[c]{@{}c@{}}Anchura mínima\\ de las vías (3.5m)\end{tabular}                   & \multicolumn{1}{c}{}                           & \multicolumn{1}{c}{}                           & \multicolumn{1}{c}{}                                      \\ \cline{3-6} 
\multirow{-12}{*}{\cellcolor[HTML]{EFEFEF}\rotatebox[origin=c]{90}{\parbox[c]{4.5cm}{\centering INFRAESTRUCTURAS DE APOYO A LA EXTINCIÓN}}} & \multirow{-3}{*}{\begin{tabular}[c]{@{}c@{}}VÍAS DE ACCESO\\ (con o sin salida)\end{tabular}}   & \begin{tabular}[c]{@{}c@{}}Altura mínima libre\\ (4.5m)\end{tabular}                          &                                                &                                                &                                                           \\ \hline
\cellcolor[HTML]{EFEFEF}                                                            &                                                                                                 & Estado adecuado                                                                               &                                                &                                                &                                                           \\ \cline{3-6} 
\cellcolor[HTML]{EFEFEF}                                                            & \multirow{-2}{*}{MANGUERAS}                                                                     & Falta de equipo                                                                               &                                                &                                                &                                                           \\ \cline{2-6} 
\cellcolor[HTML]{EFEFEF}                                                            &                                                                                                 & Estado adecuado                                                                               &                                                &                                                &                                                           \\ \cline{3-6} 
\cellcolor[HTML]{EFEFEF}                                                            & \multirow{-2}{*}{RACORES}                                                                       & Falta de equipo                                                                               &                                                &                                                &                                                           \\ \cline{2-6} 
\cellcolor[HTML]{EFEFEF}                                                            &                                                                                                 & Estado adecuado                                                                               &                                                &                                                &                                                           \\ \cline{3-6} 
\cellcolor[HTML]{EFEFEF}                                                            & \multirow{-2}{*}{LANZAS}                                                                        & Falta de equipo                                                                               &                                                &                                                &                                                           \\ \cline{2-6} 
\cellcolor[HTML]{EFEFEF}                                                            &                                                                                                 & Estado de adecuado                                                                            &                                                &                                                &                                                           \\ \cline{3-6} 
\cellcolor[HTML]{EFEFEF}                                                            & \multirow{-2}{*}{\begin{tabular}[c]{@{}c@{}}EQUIPOS DE LIMPIEZA\\ Y MANTENIMIENTO\end{tabular}} & Falta de equipo                                                                               &                                                &                                                &                                                           \\ \cline{2-6} 
\cellcolor[HTML]{EFEFEF}                                                            &                                                                                                 & Estado adecuado                                                                               &                                                &                                                &                                                           \\ \cline{3-6} 
\multirow{-10}{*}{\cellcolor[HTML]{EFEFEF}\rotatebox[origin=c]{90}{\parbox[c]{4.5cm}{\centering MANTENIMIENTO DE EQUIPOS MUNICIPALES}}}     & \multirow{-2}{*}{VEHÍCULOS}                                                                     & Falta de equipo                                                                               &                                                &                                                &                                                           \\ \hline
\cellcolor[HTML]{EFEFEF}                                                            &                                                                                                 & Limpieza                                                                                      &                                                &                                                &                                                           \\ \cline{3-6} 
\cellcolor[HTML]{EFEFEF}                                                            &                                                                                                 & Franjas                                                                                       &                                                &                                                &                                                           \\ \cline{3-6} 
\cellcolor[HTML]{EFEFEF}                                                            & \multirow{-3}{*}{\begin{tabular}[c]{@{}c@{}}ZONA DE PRIORIDAD 1\\ (10m)\end{tabular}}           & Estado adecuado                                                                               &                                                &                                                &                                                           \\ \cline{2-6} 
\cellcolor[HTML]{EFEFEF}                                                            &                                                                                                 & Estado adecuado                                                                               &                                                &                                                &                                                           \\ \cline{3-6} 
\cellcolor[HTML]{EFEFEF}                                                            & \multirow{-2}{*}{\begin{tabular}[c]{@{}c@{}}ZONA DE PRIORIDAD 2\\ (30m)\end{tabular}}           & \begin{tabular}[c]{@{}c@{}}Cumplimentación \\ con ordenanzas para\\ interfaz IUF\end{tabular} &                                                &                                                &                                                           \\ \cline{2-6} 
\cellcolor[HTML]{EFEFEF}                                                            &                                                                                                 & Estado adecuado                                                                               &                                                &                                                &                                                           \\ \cline{3-6} 
\multirow{-7}{*}{\cellcolor[HTML]{EFEFEF}\rotatebox[origin=c]{90}{\parbox[c]{3.0cm}{\centering MANTENIMIENTO DE LA VEGETACIÓN}}}            & \multirow{-2}{*}{\begin{tabular}[c]{@{}c@{}}ZONA DE PRIORIDAD 3\\ (100m)\end{tabular}}          & \begin{tabular}[c]{@{}c@{}}Cumplimentación\\ con ordenanzas para\\ interfaz IUF\end{tabular}  &                                                &                                                &                                                           \\ \hline
\cellcolor[HTML]{EFEFEF}                                                            &                                                                                                 & Limpieza                                                                                      &                                                &                                                &                                                           \\ \cline{3-6} 
\cellcolor[HTML]{EFEFEF}                                                            &                                                                                                 & Estado adecuado                                                                               &                                                &                                                &                                                           \\ \cline{3-6} 
\cellcolor[HTML]{EFEFEF}                                                            &                                                                                                 & Papeleras y basuras                                                                           &                                                &                                                &                                                           \\ \cline{3-6} 
\multirow{-4}{*}{\cellcolor[HTML]{EFEFEF}\rotatebox[origin=c]{90}{\parbox[c]{1.8cm}{\centering MANTEN. DE ZONAS RECREATIVAS}}}        & \multirow{-4}{*}{ZONAS RECREATIVAS}                                                             & \begin{tabular}[c]{@{}c@{}}Señalizacion correcta\\ y preventiva\end{tabular}                  &                                                &                                                &                                                           \\ \hline
\cellcolor[HTML]{EFEFEF}                                                            & \multicolumn{2}{c}{Actualización de contactos del directorio}                                                                                                                                   &                                                &                                                &                                                           \\ \cline{2-6} 
\cellcolor[HTML]{EFEFEF}                                                            & \multicolumn{2}{c}{Actualización y revisión del plan}                                                                                                                                           &                                                &                                                &                                                           \\ \cline{2-6} 
\cellcolor[HTML]{EFEFEF}                                                            & \multicolumn{2}{c}{Revisión de los grupos de difusión}                                                                                                                                          &                                                &                                                &                                                           \\ \cline{2-6} 
\cellcolor[HTML]{EFEFEF}                                                            & \multicolumn{2}{c}{Campañas de sensibilización a la población}                                                                                                                                  &                                                &                                                &                                                           \\ \cline{2-6} 
\multirow{-5}{*}{\cellcolor[HTML]{EFEFEF}\rotatebox[origin=c]{90}{\parbox[c]{1.5cm}{\centering MANTEN. DEL PAMIF}}}                   & \multicolumn{2}{c}{\begin{tabular}[c]{@{}c@{}}Revisión de todos los PAIF que contiene el \\ municipio\end{tabular}}                                                                             &                                                &                                                &                                                           \\ \hline
\end{tabular}
\end{table}
