\begin{table}[h]
\centering
\begin{tabular}{ m{1.5cm}m{3.5cm}m{2.5cm}m{0.5cm}m{0.5cm}m{2.5cm} ccllll}
\multicolumn{6}{c}{PLAN DE MANTENIMIENTO ANUAL} \\ \hline
\multicolumn{3}{c}{DESCRIPCIÓN} & SÍ & NO & OBSERVACIONES \\ \hline

\multirow{9}{*}{\rotatebox[origin=c]{90}{\parbox[l]{8.5cm}{\centering INFRAESTRUCTURA DE APOYO A LA EXTINCIÓN}}} & \multirow{2}{*}{\parbox[c]{3.5cm}{HIDRANTES}} & Señalización correcta &&\\ \cline{3-6}
&& Estado adecuado & & &\\ \cline{2-6}
& \multirow{2}{*}{\parbox[l]{3.5cm}{ARMARIOS CON HIDRANTES}} & Señalización correcta &&\\ \cline{3-6}
&& Estado adecuado & & &\\ \cline{2-6}
& \multirow{5}{*}{\parbox[l]{3.5cm}{DEPÓSITOS DE AGUA}} & Señalización correcta &&\\ \cline{3-6}
&& Balsas llenas & & &\\ \cline{3-6}
&& Depósitos llenos & & &\\ \cline{3-6}
&& Fácil acceso & & &\\ \cline{3-6}
&& Estado adecuado & & &\\ \cline{3-6}
&& Fácil acceso & & &\\ \cline{2-6}
& \multirow{3}{*}{\parbox[l]{3.5cm}{VÍAS DE ACCESO}} & Señalizadas &&\\ \cline{3-6}
&& Anchura mínima de las vías (3,5m) & & &\\ \cline{3-6}
&& Altura mínima libre (4,5m) & & &\\ \hline 
\multirow{10}{*}{\rotatebox[origin=c]{90}{\parbox[l]{6.5cm}{\centering MANTENIMIENTO DE EQUIPOS MUNICIPALES}}} & \multirow{2}{*}{\parbox[c]{3.5cm}{MANGUERAS}} & Estado correcto &&\\ \cline{3-6}
&& Falta de equipo & & &\\ \cline{2-6}
& \multirow{2}{*}{\parbox[l]{3.5cm}{RACORES}} & Estado correcto &&\\ \cline{3-6}
&& Falta de equipo & & &\\ \cline{2-6}
& \multirow{2}{*}{\parbox[l]{3.5cm}{LANZAS}} & Estado adecuado &&\\ \cline{3-6}
&& Falta de equipo & & &\\ \cline{2-6}
& \multirow{2}{*}{\parbox[l]{3.5cm}{EQUIPOS DE LIMPIEZA Y MANTENIMIENTO}} & Estado correcto &&\\ \cline{3-6}
&& Falta de equipo & & &\\ \cline{2-6}
& \multirow{2}{*}{\parbox[l]{3.5cm}{VEHÍCULOS}} & Estado adecuado &&\\ \cline{3-6}
&& Falta de equipo & & &\\ \hline 
\end{tabular}
\end{table}
\pagebreak

\begin{table}
\centering
\begin{tabular}{ m{1.5cm}m{3.5cm}m{2.5cm}m{0.5cm}m{0.5cm}m{2.5cm} ccllll}
\multicolumn{6}{c}{PLAN DE MANTENIMIENTO ANUAL} \\ \hline
\multicolumn{3}{c}{DESCRIPCIÓN} & SÍ & NO & OBSERVACIONES \\ \hline

\multirow{7}{*}{\rotatebox[origin=c]{90}{\parbox[l]{6.5cm}{\centering MANTENIMIENTO DE LA VEGETACIÓN}}} & \multirow{3}{*}{\parbox[c]{3.5cm}{ZONA DE PRIORIDAD 1 (10m)}} & Limpieza &&\\ \cline{3-6}
&& Franjas & & &\\ \cline{3-6}
&& Estado adecuado & & &\\ \cline{2-6}
& \multirow{2}{*}{\parbox[l]{3.5cm}{ZONA DE PRIORIDAD 2 (30m)}} & Estado adecuado &&\\ \cline{3-6}
&& Cumplimentación con ordenanzas para interfaz IUF & & &\\ \cline{2-6}
& \multirow{2}{*}{\parbox[l]{3.5cm}{ZONA DE PRIORIDAD 3 (100m)}} & Estado adecuado &&\\ \cline{3-6}
&& Cumplimentación con ordenanzas para interfaz IUF & & &\\ \hline

\multirow{4}{*}{\rotatebox[origin=c]{90}{\parbox[l]{3.5cm}{\centering MANTENIMIENTO DE ZONAS RECREATIVAS}}} & \multirow{5}{*}{\parbox[c]{3.5cm}{ZONA RECREATIVAS}} & Limpieza &&\\ \cline{3-6}
&& Estado adecuado & & &\\ \cline{3-6}
&& Papeleras y basuras & & &\\ \cline{3-6}
&& Señalización correcta y preventiva & & &\\ \hline

\multirow{4}{*}{\rotatebox[origin=c]{90}{\parbox[l]{5.5cm}{\centering MANTENIMIENTO DEL PAMIF}}} & ACTUALIZACIÓN DE CONTACTOS DEL DIRECTORIO && &&\\ \cline{2-6}
& ACTUALIZACIÓN Y REVISIÓN DEL PLAN & & & &\\ \cline{2-6}
& \multicolumn{2}{l}{\parbox{6cm}{CAMPAÑAS DE SENSIBILIZACIÓN A LA POBLACIÓN}} & & &\\ \cline{2-6}
& REVISIÓN DE TODOS LOS PAIF QUE CONTIENE EL MUNICIPIO && & &\\ \hline

\end{tabular}
\end{table}
