\begin{titlepage}
\centering
{\scshape\Huge ANEXO INCENDIOS PLAN DE ORDENACIÓN \par}
\begin{figure}
    \centering
    \includegraphics[width=7cm]{FINALES/IMAGENES/portada.png}
\end{figure}

{\scshape\Large MUNICIPIOS DE SANGÜESA y AIBAR \par}
\vfill
{\Large Autor: \par}
{\Large Bernardo Fontana Campos \par}
\vfill
\begin{figure}
    \includegraphics[height=2cm]{./BRUTOS/LOGOS/Lurgeroa_Logoa.jpg}
    \hfill
    \Large{Septiembre 2026} 
\end{figure}
\end{titlepage} 
