\begin{landscape}

\newcounter{x}
\forloop{x}{0}{\value{x} < 25} {
\pagebreak
\adjustimage{max size={1.4\linewidth}{1.4\paperheight}}{../DOCUMENTACION/RESTRICCIONES/restricciones_\arabic{x}.jpg}
\newpage
}
\end{landscape}
