((* for i in range(1,4) *))

\begin{center}
{\huge Simulación ((( i )))}
\includegraphics[width=14.9cm,height=17.5cm,keepaspectratio]{FINALES/SIMULACIONES/simulacion_SUR_((( i ))).png}
\end{center}

\newpage
((* endfor *))
