((* for i in range(1,7) *))

\begin{center}
{\huge Simulación ((( i )))}
\includegraphics[width=14.9cm,height=17.5cm,keepaspectratio]{FINALES/SIMULACIONES/simulacion_((( i ))).png}

((* if i < 5 *))
{\Large Viento sur}
((* else *))
{\Large Viento norte}
((* endif *))
\end{center}
\newpage
((* endfor *))
